{% extends "layout.html" %}

{% block title %}
   ΕΣΟΔΑ
{% endblock %}

{% block main %}
   <h1>Έσοδα</h1>
   <br>
   <div class="form-wrapper">
      <h2 class="">Φόρμα Εσόδων</h2>
      
      <form method="POST" action="{{ url_for('income') }}">
         <fieldset>
            {{ form.z_count.label }}
            {{ form.z_count(size=4) }}
         </fieldset>
         
         <fieldset>
            {{ form.early_income.label }}
            {{ form.early_income(size=20) }}
         </fieldset>
         
         <fieldset>
            {{ form.late_income.label }}
            {{ form.late_income(size=20) }}
         </fieldset>
         
         <fieldset>
            {{ form.notes.label }}
            {{ form.notes(size=40) }}
         </fieldset>
         
         <p>{{ form.submit }}</p>
      </form>
   </div>
{% endblock %}