{% extends "layout.html" %}

{% block title %}
    PORTFOLIO
{% endblock %}

{% block main %}  
  <br>
  <div class="container">
    <div class="row top-padding">
      <h1>User ID: {{ user_id }}</h1>
      <h3>Username: {{ username }} :: {{ the_date }}</h3>
      <div id="app">
        <h5>[[ greeting ]]</h5>
        <h6>{{ greeting }}</h6>
      </div>
      

      <div class="col-sm">
        <a class="btn btn-success btn-lg w-100" href="/income" role="button">Έσοδα</a>
      </div>
      <div class="col-sm">
        <a class="btn btn-danger btn-lg w-100" href="/outcome" role="button">Έξοδα</a>
      </div>
      <div class="col-sm">
        <a class="btn btn-secondary btn-lg w-100" href="/staff" role="button">Προσωπικό</a>
      </div>
    </div>
  </div>

{% endblock %}