<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/mc-calendar.min.css" />

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/style.css" rel="stylesheet">
        <meta name="theme-color" content="#7952b3">

        <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
        
        <style>
            .bd-placeholder-img {
              font-size: 1.125rem;
              text-anchor: middle;
              -webkit-user-select: none;
              -moz-user-select: none;
              user-select: none;
            }
      
            @media (min-width: 768px) {
              .bd-placeholder-img-lg {
                font-size: 3.5rem;
              }
            }
          </style>
        

        <title>$FINapp: {% block title %}{% endblock %}</title>
        
    </head>

    <body class="bg-light">

        <!-- <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light border"> -->
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <div class="container-fluid">
                <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/"><span class="blue">$</span><span class="red">F</span><span class="yellow">I</span><span class="green">N</span> <span class="red">app</span></a>
            <!-- <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <!-- <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/income">Έσοδα</a></li>
                        <li class="nav-item"><a class="nav-link" href="/outcome">Έξοδα</a></li>
                        <li class="nav-item"><a class="nav-link" href="/staff">Προσωπικό</a></li>
                        <li class="nav-item"><a class="nav-link" href="/history">History</a></li>
                        <li class="nav-item"><a class="nav-link" href="/cash">Cash</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    </ul>
                {% endif %}
            </div> -->
            
            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                {% if session.user_id %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/income">Έσοδα</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/outcome">Έξοδα</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/staff">Προσωπικό</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/">Αποθήκη</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Έσοδα</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown01">
                      <li><a class="dropdown-item" href="/post-income">Νέα Έσοδα</a></li>
                      <li><a class="dropdown-item" href="#">Επεξεργασία Εσόδων</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                </ul>
                <ul class="navbar-nav ml-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    </ul>
                {% endif %}
                <!-- <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->
              </div>
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container-sm">
            <div class="row">
                {% block main %}{% endblock %}
            </div>
        </main>

        <footer class="small text-center text-muted">
          <div class="container">
            Data provided for free by <a href="https://iextrading.com/developer">IEX</a>. View <a href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use</a>.
          </div>
        </footer>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <!-- MASONRY        -->
        <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
        <script src="/static/mc-calendar.min.js"></script>
        
        <!-- <script src="form-validation.js"></script>
        <script src="offcanvas.js"></script> -->
        <script>
            (function () {
              'use strict'
            
              document.querySelector('[data-bs-toggle="offcanvas"]').addEventListener('click', function () {
                document.querySelector('.offcanvas-collapse').classList.toggle('open')
              })
            })()
        </script>

        <script>
          const myDatePicker = MCDatepicker.create({ 
                  el: '#date',
                  bodyType: 'inline',
                  dateFormat: 'MM-DD-YYYY'
              })
        </script>

    </body>

</html>
